In [7]:
# import important modules 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns  
import warnings
import pickle
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
warnings.filterwarnings('ignore')
%matplotlib inline

In [8]:
# Import data
train_data = pd.read_csv('spam.csv', encoding='latin-1')
#train_data = pd.read_csv('train.csv')
#pd.read_csv('ml-100k/u.item', sep='|', names=m_cols , encoding='latin-1')

In [9]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [10]:
train_data.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""",GE,"GNT:-)"""
freq,4825,30,3,2,2

In [11]:
# print shape 
print('train data shape :', train_data.shape)

train data shape : (5572, 5)

In [12]:
train_data.dtypes

v1            object
v2            object
Unnamed: 2    object
Unnamed: 3    object
Unnamed: 4    object
dtype: object

In [13]:
#to see the data columns
train_data.head().T

,0,1,2,3,4
v1,ham,ham,spam,ham,ham
v2,"Go until jurong point, crazy.. Available only ...",Ok lar... Joking wif u oni...,Free entry in 2 a wkly comp to win FA Cup fina...,U dun say so early hor... U c already then say...,"Nah I don't think he goes to usf, he lives aro..."
Unnamed: 2,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,NaN,NaN,NaN,NaN,NaN
Unnamed: 4,NaN,NaN,NaN,NaN,NaN

In [14]:
# Check for missing values
print('missing values:', train_data.isnull().sum())

missing values: v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [15]:
#Dropping Columns that don't affect our predictions
train_data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis=1 , inplace=True)

In [16]:
#to see the data after my changes
train_data.head().T

,0,1,2,3,4
v1,ham,ham,spam,ham,ham
v2,"Go until jurong point, crazy.. Available only ...",Ok lar... Joking wif u oni...,Free entry in 2 a wkly comp to win FA Cup fina...,U dun say so early hor... U c already then say...,"Nah I don't think he goes to usf, he lives aro..."

##Count Vectorizer to change text in numbers with respective frequency

In [17]:
# Y is my Target for spam or not spam
y_data = train_data.v1
y_data.head()

0     ham
1     ham
2    spam
3     ham
4     ham
Name: v1, dtype: object

In [18]:
#x is the data that needs to be trained on
x_data = train_data.v2
x_data.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: v2, dtype: object

In [19]:
#Creating an instance of a class for countvectorizer
#vectorizer = CountVectorizer()
#counts = vectorizer.fit_transform(x_data)

In [20]:
#https://www.ritchieng.com/machine-learning-multinomial-naive-bayes-vectorization/
#Spliting our dataset into traing and testing dataset
from sklearn.model_selection  import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, random_state=1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4179,)
(1393,)
(4179,)
(1393,)

In [21]:
# 2. instantiate the vectorizer
vect = CountVectorizer()
X_train_dtm = vect.fit_transform(X_train)

In [22]:
# examine the document-term matrix
X_train_dtm

<4179x7496 sparse matrix of type '<class 'numpy.int64'>'
	with 55614 stored elements in Compressed Sparse Row format>

In [23]:
# 4. transform testing data (using fitted vocabulary) into a document-term matrix
X_test_dtm = vect.transform(X_test)
X_test_dtm
# you can see that the number of columns, 7456, is the same as what we have learned above in X_train_dtm

<1393x7496 sparse matrix of type '<class 'numpy.int64'>'
	with 17010 stored elements in Compressed Sparse Row format>

In [24]:
# 1. import
from sklearn.naive_bayes import MultinomialNB
# 2. instantiate a Multinomial Naive Bayes model
nb = MultinomialNB()

In [25]:
# 3. train the model 
# using X_train_dtm (timing it with an IPython "magic command")

%time nb.fit(X_train_dtm, y_train)

Wall time: 349 ms

MultinomialNB()

In [26]:
# 4. make class predictions for X_test_dtm
y_pred_class = nb.predict(X_test_dtm)

In [27]:
# calculate accuracy of class predictions
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.9856424982053122

In [30]:
# examine class distribution
print(y_test.value_counts())
# there is a majority class of 0 here, hence the classes are skewed

# calculate null accuracy (for multi-class classification problems)
# .head(1) assesses the value 1208
null_accuracy = y_test.value_counts().head(1) / len(y_test)
print('Null accuracy:', null_accuracy)

# Manual calculation of null accuracy by always predicting the majority class
print('Manual null accuracy:',(1208 / (1208 + 185)))

ham     1213
spam     180
Name: v1, dtype: int64
Null accuracy: ham    0.870782
Name: v1, dtype: float64
Manual null accuracy: 0.8671931083991385

In [31]:
# print the confusion matrix
metrics.confusion_matrix(y_test, y_pred_class)

array([[1205,    8],
       [  12,  168]], dtype=int64)

##Confusion matrix
[TN FP
FN TP]

In [ ]:
Confusion matrix
[TN FP
FN TP]

In [32]:
import pickle
saved_model =  pickle.dumps(nb)

In [33]:
modelfrom_pickle = pickle.loads(saved_model)

In [34]:
y_pred_class=modelfrom_pickle.predict(X_test_dtm)

In [35]:
#Test the accuracy of the model on the pickle 
print(metrics.accuracy_score(y_test, y_pred_class))

0.9856424982053122

In [36]:
import joblib

In [39]:
#Generating a pickle file
#our model pickle file
joblib.dump(nb,'pickle.pkl')

['pickle.pkl']

In [40]:
#creating a new pickle to transfer text into numbers as the previous one is in numbers format.
#our transform pickle file
joblib.dump(X_train_dtm,'transform.pkl')

['transform.pkl']